{% include 'base.html' %}

{% block body %}
    
    <div class="container">

      <h2 class="text-center">----- Please Select Operation to Perform -----</h2>
      <hr>

        <form class="form" action="/sql/select_ops" method="POST">
                <div class="form-group">
                  <label>Select Sql Operation to Perform :</label>
                  
                  <select class="form-select form-select-sm" name="operation" aria-label="Default select example">
                    <option selected></option>
                    <option value="create_db">Create Database</option>
                    <option value="create_table">Create Table</option>
                    <option value="delete_db">Delete Database</option>
                    <option value="delete_table">Delete Table</option>
                    <option value="insert_table">Insert Data</option>
                    <option value="bulk_insert_table">Bulk Insert Data</option>
                    <option value="update_table">Update Table</option>
                    <option value="download_data">Download Data</option>
                    <option value="display_all_data">Display All Data</option>
                    <option value="show_all_db">Show All Databases</option>
                    <option value="show_all_tables">Show all Tables</option>
                  </select>

                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

    </div>
          

{% endblock body %}