{% extends 'base.html' %}

{% block body %}

    <div class="container">

        <form class="form" action="/sql/update_table" method="POST">
            <form>
                <h2 class="text-center">----- Please Fill Update Details below -----</h2>
                <hr>
                <div class="form-group">
                    <label >Enter Database Name :</label>
                    <input type="text" class="form-control" name="database_name">
                    <small class="form-text text-muted">Note: Do not use Spaces Instead use Underscores</small>
                    <br>
                     <br>
                </div>
                <div class="form-group">
                    <label >Enter Table Name :</label>
                    <input type="text" class="form-control" name="table_name">
                    <br>
                </div>
                <div class="form-group">
                    <label >Enter Set Values :</label>
                    <input type="text" class="form-control" name="set_values">
                    <small class="form-text text-muted">Note: Use Double Quotes for String values</small>
                </div>
                <div class="form-group">
                    <label >Enter Where Values :</label>
                    <input type="text" class="form-control" name="where_values">
                    <small class="form-text text-muted">Note: Use Double Quotes for String values</small>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-info" href="/sql/select_ops">Select Operation</a>
            </form>

            <br>

            {% with messages = get_flashed_messages() %}  
            {% if messages %}  
                  {% for message in messages %}  
                  <div class="alert alert-primary" role="alert">
                    {{ message }}
                  </div>
                  {% endfor %}  
            {% endif %}  
            {% endwith %}  


    </div>

{% endblock body %}